---
import { getEntry } from 'astro:content';
import { getImageSrc } from '@/utils/images';

import DividerLayout from '@/layouts/DividerLayout.astro';
import Icon from '@/components/Icon.astro';
import Link from '@/components/Link.astro';

import imgScreenshot from '@/assets/screenshots/youtube.jpg';

const imageUrl = await getImageSrc(imgScreenshot);

const metadata = {
    title: 'YouTube',
    description: 'A list of YouTube channels I subscribe to.',
    image: imageUrl,
};

const { data: subscriptions } = await getEntry('youtube', 'channels');
---
<DividerLayout metadata={metadata}>

    <h1
        slot="header"
        class="display-3"
    >
        <Icon icon="fa6-brands:youtube" label="YouTube Logo" /> YouTube Subscriptions
    </h1>

    <div
        slot="main"
        class="d-flex flex-column flex-grow-1 mw-1100"
    >

        <p>
            I watch a lot of YouTube videos. After live sports, YouTube is
            where I consume most video content. Every so often, a friend or
            colleague will ask about the channels I watch, so this is my way
            of addressing these requests. The following list is not all of
            the channels I subscribe to, but these are the channels that I
            watch regularly. The channels with the{' '}
            <Icon icon="fa6-solid:bell" label="bell icon" /> icon are
            channels that I receive notifications when new videos are
            posted.
        </p>

        <p class="text-body-secondary">
            Categories and channels are listed in alphabetical order.
        </p>

        <div class="mt-3 row">

            {subscriptions.map(({ category, categorySlug, channels }) => (

                <div class="col-6 col-md-4 mb-4">

                    <h3
                        id={categorySlug}
                        class="text-capitalize mb-3">
                        {category}
                    </h3>

                    <ul class="list-unstyled">

                        {channels.map(({ title, channelId, hasNotifications }) => (

                            <li class="mb-1">

                                <Link href={`https://www.youtube.com/channel/${channelId}`}>
                                    {title}
                                </Link>

                                {hasNotifications && (
                                    <Icon
                                        icon="fa6-solid:bell"
                                        label="bell icon"
                                        class="ms-1 text-warning opacity-75"
                                    />
                                )}
                            </li>

                        ))}

                    </ul>

                </div>

            ))}

        </div>

    </div>

</DividerLayout>
