---
interface Product {
    id: string;
    title: string;
    link: string;
}

export interface Props {
    products: Product[];
}

import Icon from '@components/Icon.astro';
import Link from '@components/Link.astro';

const { products } = Astro.props;
---

<div class="mb-4">

    <div class="list-group">

        {products.map(({ id, title, link }) => (

            <Link
                id={id}
                href={link}
                class="list-group-item list-group-item-action d-flex gap-3 link-reset"
            >
                <img
                    src={`https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=${id}&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=jz034-20&language=en_US`}
                    class="flex-shrink-0"
                    width="50"
                    height="50"
                    alt={title}
                    style={{ overflow: 'hidden' }}
                />

                <div class="d-flex gap-2 w-100 justify-content-between">
                    {title}
                </div>

                <Icon
                    icon="fa6-brands:amazon"
                    class="align-self-center"
                />

            </Link>

        ))}

    </div>

</div>
