---
import type { HTMLAttributes } from 'astro/types';
export interface Props extends HTMLAttributes<'aside'> {
    title?: string;
    type: 'egg' | 'idea' | 'mindblown' | 'wave' | 'xmas';
}

import Icon from '@/components/Icon.astro';
import Emoji from '@/components/Emoji.astro';

import '@/styles/aside.scss';

const typeIcons = {
    egg: 'mdi:egg-easter',
    idea: '💡',
    mindblown: '🤯',
    wave: '👋',
    xmas: '🎄',
};

const {
    type,
    title,
    class: className,
    ...props
} = Astro.props;

const icon = typeIcons[type] || '';
const isIcon = icon.includes(':');
---

<aside
    class:list={[
        `content-aside aside-${type} border-start border-5 p-3 mb-4 rounded rounded-1 shadow`,
        {
            'd-flex': !title,
        },
        className,
    ]}
    {...props}
>

    {!title && (
        <p
            class="fs-1 m-0"
            aria-hidden="true"
        >
            {isIcon ? <Icon icon={icon} /> : <Emoji e={icon} />}
        </p>
    )}

    <section class="ps-3">

        {title && (
            <p class="fs-5 fw-bold">
                <span class="fs-3">
                    {isIcon ? <Icon icon={icon} /> : <Emoji e={icon} />}
                </span> {title}
            </p>
        )}

        <slot />

    </section>

</aside>
