---
import Link from '@/components/Link.astro';
import BackToTop from '@/components/BackToTop.astro';
import NavLinks from '@/components/NavLinks.astro';
import IconLink from '@/components/IconLink.astro';

const socialLinks = [
    {
        name: 'GitHub',
        icon: 'tabler:brand-github',
        url: 'https://github.com/johnzanussi',
        brandColor: '#fff', // '#1B1F24'
    },
    {
        name: 'LinkedIn',
        icon: 'tabler:brand-linkedin',
        url: 'https://www.linkedin.com/in/john-zanussi/',
        brandColor: '#0A66C2' // https://brand.linkedin.com/en-us
    },
    {
        name: 'Printables',
        icon: 'printables-spool',
        url: 'https://www.printables.com/social/170869-johnzanussi/about',
        brandColor: '#EB6F40', // https://www.printables.com/
    },
    {
        name: 'Reddit',
        icon: 'tabler:brand-reddit',
        url: 'https://www.reddit.com/user/johnzanussi/',
        brandColor: '#FF4500', // https://www.reddit.com/r/RedesignHelp/comments/84c6bl/official_reddit_brand_hex_color_codes/
    },
    {
        name: 'Strava',
        icon: 'tabler:brand-strava',
        url: 'https://www.strava.com/athletes/71228948',
        brandColor: '#FC4C01', // https://developers.strava.com/guidelines/
    },
    {
        name: 'Instagram',
        icon: 'tabler:brand-instagram',
        url: 'https://www.instagram.com/johnzanussi/',
        brandColor: '#ff0069', // https://about.instagram.com/brand/gradient
    },
];

const otherLinks = [
    {
        name: 'Buy me a coffee',
        icon: 'tabler:coffee',
        url: 'https://buymeacoffee.com/johnzanussi',
        brandColor: '#D85740',
    },
    {
        name: 'Email me',
        icon: 'tabler:mail',
        url: 'mailto:johnzanussi@gmail.com',
        brandColor: '#34A854',
    }
];
---
<footer class="pt-[75px] pb-12 relative mask-wave-top mask-exclude mask-top bg-ocean-200 dark:bg-ocean-800">

    <div
        id="footer"
        class="container position-relative">

        <div class="footer-nav-toggle hidden footer-nav:block mb-8 text-end">
            <BackToTop
                label=""
                icon="mdi:hamburger-remove"
                class="navbar-toggler py-1.5 px-3 rounded-2xl bg-sky-900"
                iconClass="size-7 align-text-top text-white"
            />
        </div>

        <div
            class="w-full flex flex-col sm:items-start sm:flex-row sm:justify-between sm:pt-12 pb-12 items-end sm:items-sm-start text-end sm:text-start">

            <NavLinks
                wrapperClass="flex-col mb-5 sm:mb-0 font-mono text-xl"
                itemClass=""
                linkClass="block p-3 hover:text-ocean-700 dark:hover:text-dune-400"
                useIsActive={false}
            />

            <section class="socials mb-5 sm:mb-0">

                <ul>
                    {socialLinks.map(({ name, icon, url, brandColor }) => (

                        <li class="mb-4 text-base">

                            <IconLink
                                href={url}
                                icon={icon}
                                linkClass="hover:text-(--jz-hover-color)"
                                iconClass="text-3xl"
                                style={{ '--jz-hover-color': brandColor }}
                            >

                                {name}

                            </IconLink>

                        </li>

                    ))}

                </ul>

            </section>

            <section class="text-end text-gray-600 dark:text-gray-400">

                <p class="mb-6">
                    Built with
                    <Link
                        href="/built-with"
                        class="text-ocean-800 hover:text-ocean-700 dark:text-white dark:hover:text-dune-400"
                    >Astro</Link>,
                    <Link
                        href="/built-with"
                        class="text-ocean-800 hover:text-ocean-700 dark:text-white dark:hover:text-dune-400"
                    >Tailwind</Link>, and
                    <Link
                        href="/built-with"
                        class="text-ocean-800 hover:text-ocean-700 dark:text-white dark:hover:text-dune-400"
                    >more</Link>.
                </p>

                <p class="mb-6">
                    Subscribe to my
                    <IconLink
                        href="/rss.xml"
                        icon="tabler:rss"
                        linkClass="text-ocean-800 hover:text-ocean-700 dark:text-white dark:hover:text-dune-400"
                        iconPosition="end"
                    >
                        RSS
                    </IconLink> feed.
                </p>

                <ul class="text-end">
                    {otherLinks.map(({ name, icon, url, brandColor }) => (
                        <li class="mb-3">
                            <IconLink
                                href={url}
                                icon={icon}
                                linkClass="hover:text-(--jz-hover-color)"
                                iconClass="text-3xl"
                                iconPosition="end"
                                style={{ '--jz-hover-color': brandColor }}
                            >
                                {name}
                            </IconLink>
                        </li>
                    ))}
                </ul>

                <BackToTop class="footer-nav:hidden mt-8 text-ocean-800 hover:text-ocean-700 dark:text-white dark:hover:text-dune-400" />

                <p class="text-end mt-12">
                    All content copyright John Zanussi.
                </p>

            </section>

        </div>

    </div>

</footer>