---
import Icon from '@/components/Icon.astro';
import Link from '@/components/Link.astro';
import BackToTop from '@/components/BackToTop.astro';
import NavLinks from '@/components/NavLinks.astro';

const socialLinks = [
    {
        name: 'GitHub',
        icon: 'fa6-brands:github',
        url: 'https://github.com/johnzanussi',
        brandColor: '#fff', // '#1B1F24'
    },
    {
        name: 'LinkedIn',
        icon: 'fa6-brands:linkedin',
        url: 'https://www.linkedin.com/in/john-zanussi/',
        brandColor: '#0A66C2' // https://brand.linkedin.com/en-us
    },
    {
        name: 'Printables',
        icon: 'printables-spool',
        url: 'https://www.printables.com/social/170869-johnzanussi/about',
        brandColor: '#EB6F40', // https://www.printables.com/
    },
    {
        name: 'Reddit',
        icon: 'fa6-brands:reddit-alien',
        url: 'https://www.reddit.com/user/johnzanussi/',
        brandColor: '#FF4500', // https://www.reddit.com/r/RedesignHelp/comments/84c6bl/official_reddit_brand_hex_color_codes/
    },
    {
        name: 'Strava',
        icon: 'fa6-brands:strava',
        url: 'https://www.strava.com/athletes/71228948',
        brandColor: '#FC4C01', // https://developers.strava.com/guidelines/
    },
    {
        name: 'Instagram',
        icon: 'fa6-brands:instagram',
        url: 'https://www.instagram.com/johnzanussi/',
        brandColor: '#ff0069', // https://about.instagram.com/brand/gradient
    },
];

const otherLinks = [
    {
        name: 'Buy me a coffee',
        icon: 'tabler:coffee',
        url: 'https://buymeacoffee.com/johnzanussi',
        brandColor: '#FFDE02',
    },
    {
        name: 'Email me',
        icon: 'tabler:mail',
        url: 'mailto:johnzanussi@gmail.com',
        brandColor: '#EA4336',
    }
];
---
<footer class="footer pb-5 relative bg-jz-blue-light dark:bg-jz-blue-dark">

    <div
        id="footer"
        class="container position-relative">

        <!-- <div class="footer-nav-toggle d-footer-nav-show text-end mb-3">
            <div
                class="d-inline-block me-2 bg-dark p-2 rounded"
                style="border-radius: 1.5em !important;">
                <BackToTop
                    label=""
                    icon="mdi:hamburger-remove"
                    class="navbar-toggler fs-1 link-primary"
                />
            </div>
        </div> -->

        <div
            class="w-full flex flex-col sm:items-start sm:flex-row sm:justify-between sm:pt-5 px-3 sm:px-5 pb-5 items-end sm:items-sm-start text-end sm:text-start">

            <NavLinks
                wrapperClass="flex-col mb-5 sm:mb-0 font-mono text-xl"
                itemClass=""
                linkClass="block p-3 hover:text-jz-yellow"
                useIsActive={false}
            />

            <section class="socials mb-5 sm:mb-0">

                <ul>
                    {socialLinks.map(({ name, icon, url, brandColor }) => (

                        <li class="mb-4 text-base">

                            <Link
                                href={url}
                                title={name}
                                class="inline-flex flex-row-reverse sm:flex-row items-center gap-1.5 hover:text-(--jz-hover-color)"
                                style={{ '--jz-hover-color': brandColor }}
                            >
                                <Icon
                                    icon={icon}
                                    class="text-3xl"
                                />

                                {name}

                            </Link>

                        </li>

                    ))}

                </ul>

            </section>

            <section class="text-end text-gray-400">

                <p class="mb-6">
                    Built with
                    <Link
                        href="/built-with"
                        class="text-decoration-none"
                    >Astro</Link>,
                    <Link
                        href="/built-with"
                        class="text-decoration-none"
                    >Bootstrap</Link>, and
                    <Link
                        href="/built-with"
                        class="text-decoration-none"
                    >more</Link>.
                </p>

                <p class="mb-6">
                    Subscribe to my
                    <Link
                        href="/rss.xml"
                        class="icon-link">
                        RSS
                        <Icon icon="fa6-solid:rss" class="bi" />
                    </Link> feed.
                </p>

                <ul class="socials list-unstyled text-end">
                    {otherLinks.map(({ name, icon, url, brandColor }) => (
                        <li class="mb-3">
                            <Link
                                href={url}
                                title={name}
                                class="icon-link link-hover-var-color"
                                style={{ '--jz-hover-color': brandColor }}
                            >

                                <span class="small">
                                    {name}
                                </span>

                                <Icon
                                    icon={icon}
                                    class="fa-2x bi"
                                />

                            </Link>
                        </li>
                    ))}
                </ul>

                <BackToTop class="d-footer-nav-hide" />

                <p class="navbar-text text-body-secondary text-end mt-5 small">
                    All content copyright John Zanussi.
                </p>

            </section>

        </div>

    </div>

</footer>