---
import type { HTMLAttributes } from 'astro/types';

interface Interest {
    title: string;
    emoji: string;
    sub?: string;
}

interface InterestGroup {
    title: string;
    items: Interest[];
}

export interface Props extends HTMLAttributes<'div'> {
    interests: InterestGroup[];
}

import Emoji from '@/components/Emoji.astro';

const {
    interests,
    class: className = '',
    ...props
} = Astro.props;
---
<div
    class="sm:grid sm:grid-cols-2"
    {...props}
>
    {interests.map(({ title, items }) => (

        <div>

            <h3>
                {title}
            </h3>

            <ul class={className}>

                {items.map(({ emoji, title, sub }) => (

                    <li class="py-3 align-middle">

                        <Emoji class="text-3xl me-2 align-middle" e={emoji}></Emoji> {title}
                        {sub && <small class="text-zinc-600 dark:text-zinc-400">{sub}</small>}

                    </li>

                ))}

            </ul>

        </div>
    ))}

</div>
