---
import Icon from '@components/Icon.astro';

import Link from '@components/Link.astro';
import NavToggle from '@components/NavToggle.astro';
import NavPhoto from '@components/NavPhoto.astro';

const pages = [
    {
        title: 'About',
        url: '/about',
    },
    {
        title: 'Posts',
        url: '/posts',
    },
    {
        title: 'YouTube',
        url: '/youtube',
    },
];

const socialLinks = [
    {
        name: 'LinkedIn',
        icon: 'fa6-brands:linkedin',
        url: 'https://www.linkedin.com/in/john-zanussi/',
    },
    {
        name: 'GitHub',
        icon: 'fa6-brands:github',
        url: 'https://github.com/johnzanussi',
    },
    {
        name: 'Instagram',
        icon: 'fa6-brands:instagram',
        url: 'https://www.instagram.com/johnzanussi/',
    },
    {
        name: 'Printables',
        icon: 'printables-spool',
        url: 'https://www.printables.com/social/170869-johnzanussi/about',
    },
    {
        name: 'RSS',
        icon: 'fa6-solid:rss',
        url: '/rss.xml',
    }
];

const socialLinksCount = socialLinks.length - 1;
---
<nav
    data-bs-theme="dark"
    class="navbar site-nav d-md-flex flex-md-column flex-md-shrink-0 p-3 py-md-5 p-xl-5 sticky-md-top align-self-md-start shadow-lg rounded-bottom rounded-md-end bg-dark"
    id="site-nav"
>
    <div class="d-flex d-md-block">

        <div class="nav-photo text-center mb-md-0">

            <NavPhoto />

            <p class="m-0">

                <Link
                    href="https://en.pronouns.page/he"
                    class="d-block navbar-text small p-3"
                >
                    he/him
                </Link>

            </p>

        </div>

        <div class="mt-3 mt-md-0 ms-3 ms-md-0">

            <h1 class="mt-md-2 text-primary">
                John Zanussi
            </h1>

            <p class="small navbar-text text-body-secondary mb-1 mb-md-3 p-0">
                Long Island, New York
            </p>

            <p class="navbar-text small mb-0 mb-md-3 p-0 text-white">
                Engineering Manager at{' '}
                <Link
                    href="https://www.justworks.com/"
                    class="text-reset"
                >
                    Justworks
                </Link>
                <br />
                <Link
                    href="https://grnh.se/f9623ed31us"
                    class="small link-warning opacity-75"
                >
                    We&apos;re hiring!
                </Link>
            </p>

        </div>

    </div>

    <NavToggle class="d-md-block w-100">

        <ul class="list-unstyled font-monospace fs-5 px-3 p-md-0 text-center text-md-start mt-3 mt-md-0">
            {pages.map(({ title, url }) => (
                <li>
                    <Link
                        href={url}
                        class="d-block font-weight-bold"
                    >
                        {title}
                    </Link>
                </li>
            ))}
        </ul>

        <ul class="list-inline mt-4 text-center text-md-start d-flex d-md-block justify-content-center justify-content-md-evenly">
            {socialLinks.map(({ name, icon, url }, i) => (
                <li class:list={[
                    'list-inline-item',
                    {
                        'me-4 me-md-3 me-xl-4': i < socialLinksCount,
                    }
                ]}>
                    <Link
                        href={url}
                        title={name}
                        class="link-secondary opacity-50"
                    >
                        <Icon
                            icon={icon}
                            class="fa-2x"
                        />

                    </Link>
                </li>
            ))}
        </ul>

        <div class="small text-center text-md-start">
            <p class="mb-1">
                <Link
                    href="/built-with"
                    class="text-decoration-none"
                >
                    Built with Astro, Bootstrap, and more.
                </Link>
            </p>

            <p class="navbar-text text-body-secondary mb-0 p-0">
                All content copyright John Zanussi.
            </p>
        </div>

    </NavToggle>

</nav>

<script>
let observer: null | IntersectionObserver = null;
let topMargin = 0;

const handleNavWindowResize = () => {

    const $nav = document.getElementById('site-nav');

    if ($nav) {

        const offset = Number(getComputedStyle($nav).top.replace(/[^\d]+/, ''));

        const isStatic = document.documentElement.clientHeight < $nav.offsetHeight + offset;

        $nav.classList.toggle('position-relative', isStatic);

    }

    const $navToggle = document.querySelector('[data-target="#nav-collapse"]');

    if (
        $navToggle &&
        getComputedStyle($navToggle).display !== 'none'
    ) {

        const $nav = document.querySelector<HTMLElement>('.site-nav-wrap');
        const $navPhoto = document.querySelector<HTMLElement>('.site-nav-wrap .nav-photo');

        if ($nav && $navPhoto) {

            const { height } = $navPhoto.getBoundingClientRect();

            if (topMargin !== height) {

                topMargin = height;

                $nav.style.top = `-${topMargin + 4}px`;

                const options = {
                    threshold: [1],
                    rootMargin: `${topMargin}px`,
                };

                const callback = ([entry]: IntersectionObserverEntry[]) => {
                    entry.target.classList.toggle('is-sticky', entry.intersectionRatio < 1);
                };

                if (observer) {
                    observer.disconnect();
                }

                observer = new IntersectionObserver(callback, options);

                observer.observe($nav);

            }
        }

    }

};

window.addEventListener('DOMContentLoaded', handleNavWindowResize);
window.addEventListener('resize', handleNavWindowResize);
</script>
