---
import type { CollectionEntry } from 'astro:content';

export type Props = {
    post: CollectionEntry<'posts'>;
};

import { getPostUrl } from '@/utils/collections';

import DateFormat from '@/components/DateFormat.astro';
import DraftBadge from '@/components/DraftBadge.astro';
import { Image } from 'astro:assets';
import Link from '@/components/Link.astro';

const { post, ...props } = Astro.props;

const { data: { cover } } = post;

const { remarkPluginFrontmatter: data } = await post.render();

const { slug } = post;

const {
    date,
    title,
    excerpt,
    draft,
    minutesRead,
} = data;
---
<article
    class:list={[
        'card card-post flex-xl-row p-3',
        {
            'border-warning bg-warning-subtle': draft,
        },
    ]}
    {...props}
>

    <div class="card-body order-1 order-xl-0 px-2 p-xl-2 pb-0 pe-xl-0">

        <div class="text-body-secondary mb-2 small">

            <DateFormat date={date} />
            <span class="ps-2 small text-body-tertiary">
                {minutesRead}
            </span>

            {draft && (
                <DraftBadge class="ms-2" />
            )}

        </div>

        <h1 class="h2">
            <Link
                href={getPostUrl(slug)}
                class="stretched-link text-reset"
            >
                {title}
            </Link>
        </h1>

        <p class="m-0">
            {excerpt}
        </p>

    </div>

    <div class="card-img ratio ratio-16x9 position-relative order-0 order-xl-1 ms-xl-3">
        <Image
            src={cover}
            alt={title}
            width={852}
            widths={[308, 324, 426, 786, 852]}
            sizes="(min-width: 1640px) 426px, (min-width: 1200px) calc(35.48vw - 149px), (min-width: 780px) calc(100vw - 405px), calc(100vw - 66px)"
            class="rounded"
            loading="lazy"
        />

    </div>

</article>
