---
import { type CollectionEntry, render } from 'astro:content';

import { getPostUrl } from '@/utils/collections';

import Card, { type Props as CardProps } from '@/components/Card.astro';
import DateFormat from '@/components/DateFormat.astro';
import DraftBadge from '@/components/DraftBadge.astro';
import { Image } from 'astro:assets';
import Link from '@/components/Link.astro';

export interface Props extends CardProps {
    post: CollectionEntry<'posts'>;
    class?: string;
};

const { post, class: className, ...props } = Astro.props;

const { data: { cover } } = post;

const { remarkPluginFrontmatter: data } = await render(post);

const { id } = post;

const {
    date,
    title,
    excerpt,
    draft,
    minutesRead,
} = data;
---

<Card
    tag="article"
    class:list={['flex flex-col md:flex-row relative border', className]}
    {...props}>

    <div class="order-1 md:order-0 pt-4 px-2 md:p-2 pb-0 md:pe-0">

        <div class="mb-4 text-sm">

            <DateFormat date={date} />

            <span class="ps-2 text-neutral-500 text-xs">
                {minutesRead}
            </span>

            {draft && (
                <DraftBadge class="ms-2" />
            )}

        </div>

        <h1 class="font-mono font-medium text-2xl md:text-3xl mb-2 md:mb-4">
            <Link
                href={getPostUrl(id)}
                class="after:absolute after:inset-0 text-wave-800 dark:text-wave-400"
            >
                {title}
            </Link>
        </h1>

        <p class="m-0 text-base leading-7 dark:opacity-75">
            {excerpt}
        </p>

    </div>

    <div class="aspect-video order-0 md:order-1 md:ms-3 md:flex-[0_0_40%]">
        <Image
            src={cover}
            alt={title}
            width={852}
            widths={[308, 324, 426, 786, 852]}
            sizes="(min-width: 1640px) 426px, (min-width: 1200px) calc(35.48vw - 149px), (min-width: 780px) calc(100vw - 405px), calc(100vw - 66px)"
            class="object-cover rounded-2xl w-full h-full"
            loading="lazy"
        />
    </div>

</Card>
