---
import type { HTMLAttributes } from 'astro/types';

import '@fontsource-variable/inter';
import '@fontsource-variable/roboto-mono';

import '@/styles/index.css';

import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import ThemeToggleScript from '@/components/ThemeToggleScript.astro';

import { type Metadata, generateTags } from '@/utils/metadata';

export interface Props extends HTMLAttributes<'div'> {
    metadata: Metadata;
    class?: string;
    headerClass?: string;
    hasPhotoHeader?: boolean;
};

const {
    metadata,
    class: className = '',
    headerClass = '',
    hasPhotoHeader = false,
} = Astro.props;

const { head, body } = generateTags(metadata);

const isDev = import.meta.env.MODE === 'development';
---
<!DOCTYPE html>
<html
    lang="en"
    data-theme="light"
    class="scheme-light dark:scheme-dark scroll-smooth scroll-pt-4"
>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="darkreader-lock" />
<meta name="generator" content={Astro.generator} />
<Fragment set:html={head} />
{!isDev && (
    <script
        is:inline
        defer
        data-domain="johnzanussi.com"
        data-api="/api/rk6m8wh2a"
        src="/rk6m8wh2a.js"
    />
)}
</head>
<body class="before:w-full before:h-screen before:fixed before:bg-gradient-white dark:before:bg-gradient-blue">

<ThemeToggleScript />

<Fragment set:html={body} />

<div class:list={[
    'site relative',
    className,
]}>

    <div class="footer-nav:hidden">

        <Header class={headerClass} hasPhotoHeader={hasPhotoHeader} />

        <slot />

    </div>

    <Footer />

</div>

<noscript>
    <style>
    html[data-bs-theme="light"] .d-nojs-none,
    html[data-bs-theme="dark"] .d-nojs-none {
        display: none !important;
    }
    html[data-bs-theme="light"] .d-nojs-block,
    html[data-bs-theme="dark"] .d-nojs-block {
        display: block !important;
        max-height: 99em;
    }
    </style>
</noscript>
</body>
</html>
